<div class="row">
    <form #createForm="ngForm">
        <div class="form-group">
            <label for="taskTitle">Title</label>
            <input [(ngModel)]='title' name="title" type="text" class="form-control" id="taskTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="taskDescription">Description</label>
            <input [(ngModel)]='description' name="description" type="text" class="form-control" id="taskDescription"
                placeholder="Description">
        </div>
        <div class="col-2 d-flex justify-content-between">
            <button routerLink="/tasks" (click)="createTask()" type="button" class="mt-4 btn btn-primary">Create
                Task</button>
            <button type="button" routerLink="/tasks" class="mt-4 btn btn-danger">Cancel</button>
        </div>
    </form>
</div>