<div class="col-8 d-flex justify-content-between">
    <div>
        <input [(ngModel)]="searchText" placeholder="Search tasks" style="margin-right: 20px;">
        <button routerLink="create" class="btn btn-primary">Create Task</button>
    </div>
    <div class="div">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                [(ngModel)]="selectedOption" value="" checked>
            <label class="form-check-label" for="inlineRadio1">All</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="false"
                [(ngModel)]="selectedOption">
            <label class="form-check-label" for="inlineRadio2">Open</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="true"
                [(ngModel)]="selectedOption">
            <label class="form-check-label" for="inlineRadio3">Completed</label>
        </div>
    </div>
</div>
<div class="mt-4 row">
    <div *ngIf="getTasks().length === 0">
        <h3>Create a new Task</h3>
    </div>
    <div class="col-8">
        <div class="list-group list-group-flush">
            <a [routerLink]="['edit', task.id]" *ngFor="let task of filterTasks()"
                class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{task.title}}</h5>
                    <div class="form-check">
                        <input (click)="changeCompleted($event, task.id)" class="form-check-input" type="checkbox"
                            [(ngModel)]="task.completed" [id]="'taskCompleted' + task.id">
                        <label class="form-check-label" [for]="'taskCompleted' + task.id">
                            Task Completed
                        </label>
                    </div>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">{{task.description}}
                    </p>
                    <button (click)="deleteTask($event,task.id)" class="btn btn-danger">Delete</button>
                </div>
            </a>
        </div>
    </div>
</div>